https://spacy.io/api/spancategorizer

In [52]:
import spacy
import pandas as pd

In [55]:
nlp = spacy.load('./training/model-best/')
def extract_snomed(string):
    print(string)
    doc_p = nlp(string)
    res = []
    for s in sorted(doc_p.spans['snomed'], key=lambda x: x.start):
        res.append({'start' : s.start, 'end' : s.end, 'mention' : s.text, 'label' : s.label_})
    return pd.DataFrame(res)

In [44]:
s = """Die operative Therapie und Behandlung eines retroperitonealen Sarkoms mit Sotorasub soll in einem Sarkomzentrum mit spezieller Expertise in der Chirurgie von RPS erfolgen"""

In [56]:
extract_snomed(s)

Die operative Therapie und Behandlung eines retroperitonealen Sarkoms mit Sotorasub soll in einem Sarkomzentrum mit spezieller Expertise in der Chirurgie von RPS erfolgen

   start  end                    mention                   label
0      1    3         operative Therapie             Therapeutic
1      6    8  retroperitonealen Sarkoms  Diagnosis_or_Pathology
2      9   10                  Sotorasub           Clinical_Drug
3     13   14              Sarkomzentrum  Diagnosis_or_Pathology
4     19   22          Chirurgie von RPS             Therapeutic
5     21   22                        RPS  Diagnosis_or_Pathology

In [49]:
s1 = """Als Alternative empfiehlt die ASCCP bei zytologischem Verdacht auf CIN 1/2 die sofortige Kolposkopie."""

In [57]:
extract_snomed(s1)

Als Alternative empfiehlt die ASCCP bei zytologischem Verdacht auf CIN 1/2 die sofortige Kolposkopie.

   start  end                             mention                   label
0      6   13  zytologischem Verdacht auf CIN 1/2           Other_Finding
1      9   13                             CIN 1/2  Diagnosis_or_Pathology
2     14   16               sofortige Kolposkopie              Diagnostic

In [58]:
s2 = """Antibiose fortsetzen (s. o.), Abstrich erfragen, ggf. Umstellung der Antibiose. Thromboseprophylaxe bis zur sicheren Mobilität."""

In [59]:
extract_snomed(s2)

Antibiose fortsetzen (s. o.), Abstrich erfragen, ggf. Umstellung der Antibiose. Thromboseprophylaxe bis zur sicheren Mobilität.

   start  end                   mention          label
0      7    8                  Abstrich     Diagnostic
1     11   14  Umstellung der Antibiose    Therapeutic
2     15   16       Thromboseprophylaxe    Therapeutic
3     18   20        sicheren Mobilität  Other_Finding